.why-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
.why-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  margin:10px;
  padding: 20px;
  border-radius: 10px;
}

.why-container h2{
    font-weight: normal;
    text-align: center;
}
.why-container p{
    color: rgb(178, 132, 127);
    text-align: center;
}