.navbar-container{
    overflow: hidden;
    border-bottom: 1px solid #394a8d;
}
.Topbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-weight: normal;
    background-color: #394a8d;
    font-family: 'Poppins', sans-serif; 
    padding-top: 2px;
}
.navbar{
    background-color: #ffffff;
    margin-bottom: 10px;
}
.nav-link{
    font-weight: 600;
    margin-left: 20px;
}
.brand-logo{
    width: 100%;
    height: 100px;
}
.brand-logo:hover{
    opacity: 0.8;
}